<div class="mt-4">
    <div>
        <a href="/me/stored/courses">Go back course list</a>
        <h3>Removed Courses</h3>
    </div>


    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Name course</th>
                <th scope="col">Level</th>
                <th scope="col">Deleted at</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each deletedCourse}}
            <tr>

                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id={{this._id}}>Restore</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-course-modal">Deleted</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Trash bin is empty.
                    <a href="/me/stored/courses">Back to list of courses</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div class="modal" id="delete-course-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Course?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action cannot be restore. Do you continue to delete this course?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{{!-- hidden form to submit DELETE method --}}
<form name="delete-course-form" method="POST" action=""></form>

{{!-- hidden form to submit restore method --}}
<form name="restore-course-form" method="POST" action=""></form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let courseId;
        const btnRestoreAll = $('.btn-restore');
        const deleteForm = document.forms['delete-course-form'];
        const restoreForm = document.forms['restore-course-form'];
        const btnDeleteCourse = $('#btn-delete-course');
        // when dialog is showed
        const deleteModal = document.getElementById('delete-course-modal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const delBtn = event.relatedTarget;
            courseId = delBtn.getAttribute('data-id');
        })
        // when delete button is clicked
        btnDeleteCourse.click(function (event) {
            deleteForm.action = '/courses' + '/' + courseId + '/force?_method=DELETE'
            deleteForm.submit();
        });

        // when restore btn is clicked
        btnRestoreAll.click(function (event) {
            event.preventDefault();

            restoreForm.action = '/courses' + '/' + $(this).data('id') + '/restore?_method=PATCH'
            restoreForm.submit();
        })
    })
</script>